/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFC297;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  margin: 40px 0 40px 50px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  align-content: center;
}

#logo{
  padding: 6px 8px 6px 16px;
  margin: 40px 0 20px 10px !important;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  align-content: center;
}

#setting_icon{
  padding: px 8px 6px 16px;
  margin: 500px 0 20px 50px !important;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  align-content: center;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}


/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  
  
  
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  
}

/* Style the setting  */
.setting {
  margin-left: 160px; 
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 175px;
  border-right: groove;
}

.setting a {
  padding: 6px 8px 6px 16px;
  margin: 40px 0 40px 0px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.body_content{
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  margin-left: 460px; 
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: groove;

  display: flex;
  justify-content:flex-start;
  align-items:center;
  padding: 10px;
  height: 100vh;
}

.content {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-bottom: 400px;
  
}

.content .title{
  font-size: 35px;
  font-weight: 500;
  position: relative;
}

.content .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);

}

.user-details .input-box .details{
  display: block;
  font-weight: 500;

  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 5px ; /* danh khoi cho input box */
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}

form .button{
  height: 45px;
  width: 100%;
  margin: 45px 0 ;
  transition: height 2s;
}

form .button:hover{
  height:100px;
  
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
  
@media (max-width: 1000px){
  .content{
    max-width: 100%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
  }
}

div.wrapper {
  position: relative;
  margin: 100px;
}

.wrapper img{
  position: absolute;
  width: 200px;
  height: 300px;
  object-fit: cover;
  transition-duration: 1s;
  transform-origin: bottom right;

}

div.wrapper:hover img.flower1 {
  transform: rotate(-20deg);
}

div.wrapper:hover img.flower2 {
  transform: rotate(60deg);
}

div.wrapper:hover img.flower3 {
  transform: rotate(20deg);
}

@keyframes fadeIn{
  0%{
    width: 0;
  }
  100% {
    opacity: 1;
    width: 500px;
  }
}

.hide img{
  animation-name: fadeIn;
  animation-duration: 0.5s;
}